@use '../../assets/styles/abstracts/index' as *;

.header{
    margin-left: 88px;
    display: flex;
    justify-content: space-between;
    .search{
        background-color: $search-background;
        width: 633px;
        display: flex;
        padding-top:20px ;
        padding-bottom: 15px;
        border-radius: 12px;
        & > img{
            margin-left: 25px;
        }
    }
    
    input{
        border: none;
        background-color: $search-background;
       font-size: 18px;
       color: $text-muted;
       margin-left: 21px;
    }
     input:focus{
        
            outline: none;
            color: $text-black;
        
    }
    .preferences{
        display: flex;
        .setting{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #6e7191;
            padding: 22px;
            border-radius: 12px;
            width: 49px;
        }
        .notifications{
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            border: 2px solid #6e7191;
            margin-left: 19px;
            width: 100px;
            border-radius: 12px;

            .counter{
                margin-left: 12px;
            }
        }
       
    }
    .profil{
        display: flex;
        margin-left: 28px;
        align-items: center;
        margin-left: 30px;
        .username{
            color: #6e7191;
            font-size: 18px;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 20px;
        }
    }
}
