body {
    background: url('../../assets/images/background.webp');
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.tetrominos {
    display: flex;
    justify-content: center;
    max-width: 550px;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    max-height: 400px;
    overflow: auto;
    margin-bottom: 30px;
}
.case {
    background-color: aqua;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.case2 {
    background-color: yellow;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.case3 {
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.case4 {
    background-color: green;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 22px;
    color: floralwhite;
}
.hidden{
    display:none !important;
}
.player1 {
    width: fit-content;
    position: absolute;
    top: 150px;
    margin-left: 30px;
}